.btn-main {
    padding: 13px 35px;
    font-size: 16px;
    color: white;
    background: linear-gradient(178.96deg, #FF8267 0.88%, #F83669 99.11%);
    border-radius: 13px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.btn-second {
    padding: 13px 35px;
    font-size: 16px;
    border: 1px solid #F83669;
    color: #F83669;
    text-align: center;
    border-radius: 13px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

// .btn-second {
//     width: 135px;
//     height: 50px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 16px;
//     background: linear-gradient(178.96deg, #FF8267 0.88%, #F83669 99.11%);
//     border-radius: 13px;
// }

// .btn-second-inner {
//     padding: 11px 32.5px;
//     font-size: 16px;
//     background: white;
//     border-radius: 13px;
// }


.map {
    width: 100vw;
    min-height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    color: white;
  
    &-box {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: auto;
    }
  
    &-left {
      display: flex;
      flex-direction: column;
    }
  
    &-img {
      cursor: pointer;
      opacity: 0.6;
  
      &:hover {
        opacity: 1;
      }
    }
  
    &-back {
      width: 180px;
      height: 90px;
      margin-top: 300px;
      cursor: pointer;
      opacity: 0.6;
  
      &:hover {
        opacity: 1;
      }
    }
  
    &-right {
      width: 50%;
      min-height: 500px;
      background-color: aquamarine;
    }
  
    &-fb {
      
    }
  }
  
  @media( max-width: 1023px ){
  
  .map {
  
    &-box {
      width: 95%;
      padding-bottom: 30px;
      flex-direction: column;
    }
  
    &-left {
      flex-direction: row;
    }
  
    &-img {
      width: 150px;
    }
  
    &-back {
      width: 150px;
      height: 75px;
      margin-top: 0px;
    }
  
    &-right {
      max-width: 500px;
      width: 100%;
      margin: auto;
    }
  
    &-fb {
      
    }
  }
  
  }